<h1>All Blogs</h1>
<% @posts.each do |post| %>
	<h3><%= post.title %></h3>
	<p><%= post.body %></p>
	<div>
		<small>Created by: <%= post.user.username if post.user %>,
<%= time_ago_in_words(post.created_at) %> ago,
last updated: <%= time_ago_in_words(post.updated_at) %> ago</small>
	</div>
<%end%>



<h1 align="center">Listing all POSTS</h1>
<% @posts.each do |article| %>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="article-title">
     <%= link_to article.title, post_path(article) %>
    </div>
    <div class="article-body">
     <%= truncate(article.body, length: 100) %>
</div>
    <div class="article-meta-details">
     <small>Created by: <%= article.user.username if article.user %>, <%= time_ago_in_words(article.created_at) %> ago, last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
    </div>
    
   </div>
  </div>
 </div>
<% end %>